.stats-container {
  margin-right: 5px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.stat-drawer-toggle {
  background-color: #717274;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above the floor list */
  margin-bottom: 5px;
}


.stats {
  background: rgba(0, 0, 0, 0.8); /* Transparent gray background */
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}