[submodule "FileProcessing"]
	path = CampusVirtual-FileProcessing
	url = git@github.com:Skwangles/CampusVirtual-FileProcessing.git
[submodule "SLAM/CampusVirtualInterface/3rd/filesystem"]
	path = SLAM/CampusVirtualInterface/3rd/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "PgSocketViewer"]
	path = PgSocketViewer
	url = https://github.com/Skwangles/CampusVirtual-SocketViewer.git
