.floor-list-container {
  margin-left: 5px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  flex-direction: column;
  display: flex;
  align-items: center;
}


.floor-list {
  color: white;
  background: rgba(0, 0, 0, 0.8); /* Transparent gray background */
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.floor-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floor-list li {
  cursor: pointer;
  padding: 5px;
  color: white;
  border-bottom: 1px solid #ccc;
}

.floor-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.drawer-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above the floor list */
  margin-bottom: 5px;
}
