.floor-list-container {
  margin-left: 5px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.go-button {
  margin-top: 3px;
  background-color: green;
}
.go-button:disabled {
  background-color: rgb(90, 86, 86);
}

.floor-list-container-nav {
  margin-left: 5px;
  margin-bottom: 5px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.floor-list {
  color: white;
  background: rgba(0, 0, 0, 0.8); /* Transparent gray background */
  padding: 10px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.floor-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floor-list li {
  cursor: pointer;
  padding: 5px;
  color: white;
  border-bottom: 1px solid #ccc;
}

.selected {
  background-color: rgba(200, 200, 200, 0.5);
}
.selected:hover {
  background-color: rgba(120, 120, 120, 0.3) !important;
}

.floor-list li:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.drawer-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above the floor list */
  margin-bottom: 5px;
}
