.minimap-wrapper {
  z-index: 99;
  position: absolute;
  width: 600px;
  height: 300px;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 8px;
  transition: transform 0.3s ease;
  transform-origin: top left; /* Ensures scaling grows from the top-left corner */
}

.minimap-wrapper:hover {
  transform: scale(1.5); /* Scales the element to 150% of its original size */
}

.minimap-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.minimap-point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
