.minimap-wrapper {
  z-index: 99;
  position: absolute;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 8px;
  transition: transform 0.3s ease;
  transform-origin: top left; /* Ensures scaling grows from the top-left corner */
  transform: scale(0.5);
}

.minimap-wrapper:hover {
  transform: scale(1); /* Scales the element to 150% of its original size */
}