.stats-container {
  margin-right: 5px;
  margin-bottom: 5px;
  /* position: fixed;
  bottom: 0;
  right: 0; */
  z-index: 999;
}

.stat-drawer-toggle {
  background-color: #4970be;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above the floor list */
  margin-bottom: 3px;
}

.stats {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 4px;
  max-height: 50vh;
  overflow-y: auto;
  z-index: 1000;
}
